@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&display=swap');

body {
  background-color: #EEEEEE;
  color: rgb(25, 24, 24);
  font-family: 'Balsamiq Sans', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
}

html>body {
  background-color: #D9D9D9;
  color: rgb(25, 24, 24);
  font-family: 'Balsamiq Sans', cursive;
}


body>div:nth-child(1) {
  width: 100%;
}

p {
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
}

/* === Specific styles for when user is logged IN === */
.loggedIn {
  color: rgb(14, 255, 42);
  text-shadow: 4px 4px 4px black;
  font-weight: bold;
  text-align: center;
}

/* === Specific styles for when user is logged OUT === */
.loggedOut {
  color: rgb(190, 226, 253);
  text-shadow: 4px 4px 4px black;
  font-weight: bold;
  text-align: center;
}

/* =========================HEADER MAIN SECTION ============================= */
.header-logo-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.name-box {
  border: 1px solid white;
  padding: 5px;
  border-radius: 3px;

}

.logo-username-container {
  display: flex;
  align-items: center;
}

/* =========================RESTAURANT INDEX SECTION ============================= */
.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 120px;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}


/* ===================== RESTAURANT CREATE SECTION ========================== */

#priceLabel {
  height: 33px;
}

#foodLabel {
  width: 100%;
}

#zip {
  height: 34px;
}

/* ===================== REVIEW CREATE SECTION ============================= */
#review {
  width: 600px;
}

/* ===================== RESTAURANT SHOW SECTION ============================ */
.show-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.show-card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  text-align: left;
}

.card-address-container {
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;

}


.horizontal-flex-container {
  display: flex;
}


/* ========================= FOOTER SECTION ================================== */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  box-shadow: 8.5px 8.5px 20px 8px #292727;
  text-shadow: .5px .5px 12px #292727;
}

/* =========================DEVISE SECTION ================================== */
/* Refer to /app/views/devise/ */

.erb-header-image>img {
  width: 100px;
}

.erb-form-image>img {
  width: 400px;
}

/*  ===== Flexbox container for form ===== */
.erb-header {
  display: flex;
  background-color: #AD8350;
  border-radius: 15px;
  justify-content: space-between;
  padding: 10px 15px 10px 15px;
  margin-bottom: 80px;
  position: sticky;
  left: 0;
  top: 0;
  width: 97%;
  color: white;
  text-align: center;
  box-shadow: 1.5px 1.5px 19px 1px #292727;
  text-shadow: .5px .5px 12px #292727;
}

.erb-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: #AD8350;
  width: 100%;
  padding: 30px;
  margin-top: 80px;
  font-size: 1.5rem;
  position: sticky;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  box-shadow: 8.5px 8.5px 20px 8px #292727;
  text-shadow: .5px .5px 12px #292727;
}


.erb-footer>a {
  text-decoration: none;
  color: white;
}

.link-no-decoration>a {
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
  margin-right: 2rem;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #EEEEEE;
  font-size: 2rem;
  border-radius: 4px;
  color: rgb(51, 53, 54);
}

.sign-up-header {
  max-width: 700px;
  font-weight: 200px;
  font-size: 3rem;
  margin-bottom: 40px;
  margin-right: 150px;
}

.flex-row-container {
  display: flex;
}

/* Centers Ricky image with form */
.vertical-center {
  display: flex;
  justify-content: center;
  align-items: center;
}


.fieldContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 1px 1px 13px rgb(58, 56, 56);
  padding: 40px;
  width: 650px;
}

.fieldContainer>h5 {
  font-size: 1.3rem;
  margin-top: 0px;

}

.field {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.field-container-row {
  display: flex;
}

.devise-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35%;
}

.devise-btn>input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: .4rem;
  width: 100%;
  margin-top: 30px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgb(157, 155, 155);

}

/* === FlexBox Wrapper for Links at bottom of sign-in and sign up pages === */
.linksContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 50px;
}


.navigation-links {
  display: flex;
  gap: 15px;
}

/* ===== Changes the styles of input fields ===== */
input[type=email] {
  width: 90%;
  background-color: rgb(255, 254, 254);
  border-radius: 5px;
  height: 35px;
}

input[type=text] {
  width: 90%;
  background-color: rgb(255, 254, 254);
  border-radius: 5px;
  height: 35px;
}

input[type=password] {
  width: 90%;
  background-color: rgb(255, 254, 254);
  border-radius: 5px;
  height: 35px;

}

.field_with_errors {
  display: flex;

}

label {
  font-size: 1.3rem;
}

/* 
 How to target type of input 
 label[for=user_first_name] {
 font-size: 1.5rem;
 } */


/* ===== styles for error message for incorrect input ===== */
.error {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 1rem;
}

#error_explanation>ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0px;
  color: red;
}


/* =========================Logged Out Home Styling ================================== */

.logged-out-home {
  display: flex;

}

.logged-out-box1 {
  display: flex;
  gap: 130px;
  margin-top: 20px;
  justify-content: center;

}

.logged-out-box1-1 {
  display: flex;
  flex-direction: column;
}

.logged-out-box1-2>h1 {
  font-size: 4.8rem;
}

.logged-out-box1-2>h1 {
  font-weight: 400;
  text-align: center;
}

.logged-out-box1-button-box {
  display: flex;
  justify-content: center;
}

.logged-out-box2 {
  display: flex;
  gap: 250px;
  justify-content: center;
  padding: 0px 30px 0px 30px;
}

.logged-out-box2-1 {
  flex-direction: column;
  width: 500px;
  margin-top: 75px;
}

.logged-out-box2-1>h2 {
  font-weight: 400;
  font-size: 2rem;
  text-align: center;
}

.logged-out-box2-2 {
  border: 2px solid #AD8350;
  font-size: 1.3rem;
  background-color: rgb(235, 195, 148, .3);
  margin: 0 50px 0 50px;
}

.logged-out-box2-button-box {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.logged-out-box3 {
  text-align: center;
}

.logged-out-box3>h2 {
  font-weight: 400;
  font-size: 2.0rem;
  text-align: center;
}

.logged-out-box3-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.team-1 {
  display: flex;
  flex-direction: column;
  font-weight: 300;
  font-size: 1.3rem;
}

.team-2 {
  display: flex;
  flex-direction: column;
  font-weight: 300;
  font-size: 1.3rem;
}

.team-3 {
  display: flex;
  flex-direction: column;
  font-weight: 300;
  font-size: 1.3rem;
}

.team-4 {
  display: flex;
  flex-direction: column;
  font-weight: 300;
  font-size: 1.3rem;
}

.team-1>img {
  border: 4px solid #AD8350;
}

.team-2>img {
  border: 4px solid #AD8350;
}

.team-3>img {
  border: 4px solid #AD8350;
}

.team-4>img {
  border: 4px solid #AD8350;
}

/* === TO DO === */
.home-img {
  width: 403px;
}


/* =========================Logged In Home Styling ================================== */

.logged-in-box1 {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding-top: 25px;
  width: 100%;
  margin-bottom: 50px;
}

.logged-in-box1>h1 {
  font-weight: 500;
  font-size: 5rem;
}


.logged-in-box1-1 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 20px;
}


/* =========================Not Found Styling ================================== */

.not-found {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 25px;
}

.not-found>img {
  border: 4px solid #AD8350;
  margin-top: 10%;
}

/* =========================REVIEW SHOW SECTION ================================== */
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  width: 100%;
  align-content: center;
  justify-content: center;
  gap: 50px;
}

.column {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.column-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  margin-top: 100px;
}

.column-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-container {}

.restaurantPicture {
  width: 300px;
  height: 350px;
  border: 4px solid #AD8350;
  object-fit: cover
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 360px;
  height: 450px;
}

.restaurant-info-container {
  text-align: center;
}


.restaurantInfo {
  align-items: center;
  align-content: center;
  font-size: 1.5rem;
}

.restaurantTable {
  background-color: rgba(207, 206, 206, 1);
  display: flex;
  flex-direction: column;
  padding: 50px;
  width: 800px;
  margin-top: -180px;
}

.review {
  width: 20%;
  padding: 25px;
}

.comment {
  width: 80%;
  padding: 25px;
}

.commentRow {
  background: white;
  display: flex;
  border-width: 50px;
  padding-bottom: 100px;
  padding-top: 70px;
  display: flex;
  padding: 0.5rem 1rem;
  box-sizing: content-box;
  margin: 1rem 0;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.commentHolder {
  display: flex;
}

.averageRestaurantReview {
  width: 600px;
  margin-top: 80px;
}

.averageRestaurantReview>img {
  width: 600px;
  margin-top: -150px;
}

.averageRestaurantReview>h2 {
  font-size: 3rem;
}








/* ===================== RESPONSIVE CSS Styles ============================== */
/* === Responsive Phone Size ==================================== */
@media (max-width: 937px) {

  /* HOME BUTTONS */
  .logged-in-box1-1 {
    width: 230px;
    flex-direction: column;
    font-size: 1rem;

  }
}

@media (max-width: 729px) {

  /* LOGO */
  body>div:nth-child(1)>div>header.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation9.MuiAppBar-root.MuiAppBar-colorPrimary.MuiAppBar-positionSticky.css-1d2zdi3-MuiPaper-root-MuiAppBar-root>div>div.logo-username-container>button>img {
    width: 80px;
    margin-right: 10px;
  }

  /* USERNAME */
  body>div:nth-child(1)>div>header.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation9.MuiAppBar-root.MuiAppBar-colorPrimary.MuiAppBar-positionSticky.css-1d2zdi3-MuiPaper-root-MuiAppBar-root>div>div.logo-username-container>div {
    font-size: .8rem;
    margin-left: -10px;
  }

  body {
    padding-right: 0px;
  }

  /* HOME IMAGES */
  .home-img {
    width: 250px;
  }

  .page-container {
    text-align: center;
    padding: 20px 0px;
  }

  .page-container>h1 {
    font-size: 2.5rem;
    margin-bottom: -10px;
    margin-top: -20px;
    line-height: 1;
  }

  .page-container>h2 {
    font-size: 1rem;
    line-height: 1;
  }

  .title>h1 {
    margin-top: 20px;
  }

  .form-title>h1 {
    margin-top: 20px;
    margin-bottom: 50px;
  }

  .show-title>h1 {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  /* =========================Logged IN Home Styling ================================== */

  .logged-in-box1>h1 {
    font-weight: 500;
    font-size: 3rem;
    margin-bottom: -30px;
    margin-top: -30px;
  }


  /* =========================Logged Out Home Styling ================================== */


  .logged-out-box1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    justify-content: center;
    margin-bottom: -10px;
    flex-wrap: wrap;
  }

  .logged-out-box1-1 {
    display: flex;
    flex-direction: column;
  }

  body>div:nth-child(1)>div>div.page-container>div.logged-out-home>div>div.logged-out-box1>img {
    width: 260px;
  }

  body>div:nth-child(1)>div>div.page-container>div.logged-out-home>div>div.logged-out-box2>img {
    width: 250px;
  }



  .logged-out-box1-2>h1 {
    font-size: 1.8rem;
    margin-bottom: -10px;
  }

  .logged-out-box2 {
    gap: 10px;
    justify-content: center;
    padding: 0px 5px 0px 5px;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .logged-out-box2-1 {
    flex-direction: column;
    width: 300px;
    margin-top: 15px;
  }

  .logged-out-box2-1>h2 {
    font-size: 2rem;
    margin-bottom: -10px;
  }



  .logged-out-box2-2 {
    font-size: 1rem;
    margin: 0 5px 0 5px;
  }

  .logged-out-box2-button-box {
    padding-top: 5px;
  }


  .logged-out-box3>h2 {
    font-size: 2rem;
  }

  .logged-out-box3-1 {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

  .team-1 {
    font-size: 1rem;
  }

  .team-2 {
    font-size: 1rem;
  }

  .team-3 {
    font-size: 1rem;
  }

  .team-4 {
    font-size: 1rem;
  }

  .team-1>img {
    width: 250px;

  }

  .team-2>img {
    width: 250px;
  }

  .team-3>img {
    width: 250px;
  }

  .team-4>img {
    width: 250px;
  }


  /* === === === DEVISE FORMS === === ===  */
  .erb-header-image>img {
    width: 100px;
  }

  .erb-form-image>img {
    width: 250px;
  }

  .formContainer {
    background-color: #D9D9D9;
  }

  .formContainer>h2 {
    margin-top: -50px;

  }

  .sign-up-header {
    display: flex;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: -40px;
    margin-bottom: 20px;
  }

  .field-container-row {
    flex-direction: column;
  }

  .fieldContainer>h5 {
    margin-bottom: -10px;
  }

  .fieldContainer {
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
  }



  .flex-row-container {
    /* flex-direction: column; */
    flex-wrap: wrap-reverse;
    justify-content: flex-start;
    width: 300px;
  }

  .devise-btn {
    width: 100px;
  }

  .erb-header {
    font-size: 2rem;
  }

  .link-no-decoration {
    font-size: 1rem;
  }

  .erb-footer {
    font-size: .8rem;
    padding: 2px;
  }

  html>body {
    background-color: #D9D9D9
  }

  .linksContainer {
    font-size: 1rem;
  }


  /* =========================REVIEW SHOW SECTION ================================== */
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-content: center;
    justify-content: center;
    gap: 10px;
  }

  .column {
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  .column-1 {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    width: 300px;
    margin-top: -40px;

  }

  .column-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 2;
  }


  .restaurantInfo {
    align-items: center;
    align-content: center;
    font-size: 1rem;

  }

  body>div:nth-child(1)>div>div.page-container>div>div:nth-child(2)>div>div.averageRestaurantReview>h2 {
    margin-top: -40px;
    margin-bottom: -40px;
  }

  .restaurantTable {
    background-color: rgba(207, 206, 206, 1);
    padding: 5px;
    width: 350px;
    margin-top: -80px;
  }

  .review {
    width: 20%;
    padding: 25px;
  }

  .comment {
    padding: 5px;
    font-size: .7rem;
  }

  .commentRow {
    background: white;
    display: flex;
    padding-bottom: 0px;
    padding-top: 0px;
    display: flex;
    line-height: 1;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  }



  .averageRestaurantReview {
    width: 300px;
    margin-top: 80px;
  }

  .averageRestaurantReview>img {
    width: 300px;
    margin-top: -20px;
  }

  .averageRestaurantReview>h2 {
    font-size: 1rem;
  }

  .star-rating {
    font-size: .9rem;
  }

  .
}

@media (max-width: 598.75px) {

  /* FORM */
  .fieldContainer {
    width: 330px;
  }

}


/* LINK Responsiveness */
@media (max-width: 1318.75px) {
  .header-links-container {
    margin-top: -50px;
  }
}