@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&display=swap');

body {
  background-color: #EEEEEE;
  color: rgb(25, 24, 24);
  font-family: 'Balsamiq Sans', cursive;
}

p {
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* === Specific styles for when user is logged IN === */
.loggedIn {
  color: rgb(14, 255, 42);
  text-shadow: 4px 4px 4px black;
  font-weight: bold;
  text-align: center;
}

/* === Specific styles for when user is logged OUT === */
.loggedOut {
  color: rgb(190, 226, 253);
  text-shadow: 4px 4px 4px black;
  font-weight: bold;
  text-align: center;
}

/* =========================HEADER MAIN SECTION ============================= */
.header-logo-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.name-box {
  border: 1px solid white;
  padding: 5px;

}

/* =========================RESTAURANT INDEX SECTION ============================= */
.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}


/* ===================== RESTAURANT CREATE SECTION ========================== */

#priceLabel {
  height: 33px;
}

#foodLabel {
  width: 100%;
}

#zip {
  height: 34px;
}

/* ===================== REVIEW CREATE SECTION ============================= */
#review {
  width: 600px;
}

/* ===================== RESTAURANT SHOW SECTION ============================ */
.show-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.show-card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  text-align: left;
}

.card-address-container {
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;

}


.horizontal-flex-container {
  display: flex;
}

/* =========================DEVISE SECTION ================================== */
/* Refer to /app/views/devise/

 /*  ===== Flexbox container for form ===== */
.erb-header {
  display: flex;
  background-color: #AD8350;
  border-radius: 15px;
  justify-content: space-between;
  padding: 10px 15px 10px 15px;
  margin-bottom: 80px;
  position: sticky;
  left: 0;
  top: 0;
  width: 97%;
  color: white;
  text-align: center;
  box-shadow: 1.5px 1.5px 19px 1px #292727;
  text-shadow: .5px .5px 12px #292727;
}

.erb-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: #AD8350;
  width: 100%;
  padding: 30px;
  margin-top: 80px;
  font-size: 1.5rem;
  position: sticky;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  box-shadow: 8.5px 8.5px 20px 8px #292727;
  text-shadow: .5px .5px 12px #292727;
}


.erb-footer>a {
  text-decoration: none;
  color: white;
}

.link-no-decoration>a {
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
  margin-right: 2rem;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #EEEEEE;
  font-size: 2rem;
  border-radius: 4px;
  color: rgb(51, 53, 54);
}

.sign-up-header {
  max-width: 700px;
  font-weight: 200px;
  font-size: 3rem;
  margin-bottom: 40px;
  margin-right: 150px;
}

.flex-row-container {
  display: flex;
}

/* Centers Ricky image with form */
.vertical-center {
  display: flex;
  justify-content: center;
  align-items: center;
}


.fieldContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 1px 1px 13px rgb(58, 56, 56);
  padding: 40px;
  min-width: 450px;
}

.fieldContainer>h5 {
  font-size: 1.3rem;
  margin-top: 0px;
}

.field {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.field-container-row {
  display: flex;
}

.devise-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35%;
}

.devise-btn>input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: .4rem;
  width: 100%;
  margin-top: 30px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgb(157, 155, 155);

}

/* === FlexBox Wrapper for Links at bottom of sign-in and sign up pages === */
.linksContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 50px;
}


.navigation-links {
  display: flex;
  gap: 15px;
}

/* ===== Changes the styles of input fields ===== */
input[type=email] {
  width: 90%;
  background-color: rgb(255, 254, 254);
  border-radius: 5px;
  height: 35px;
}

input[type=text] {
  width: 90%;
  background-color: rgb(255, 254, 254);
  border-radius: 5px;
  height: 35px;
}

input[type=password] {
  width: 90%;
  background-color: rgb(255, 254, 254);
  border-radius: 5px;
  height: 35px;

}

.field_with_errors {
  display: flex;

}

label {
  font-size: 1.3rem;
}

/* 
 How to target type of input 
 label[for=user_first_name] {
 font-size: 1.5rem;
 } */


/* ===== styles for error message for incorrect input ===== */
.error {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 1rem;
}

#error_explanation>ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0px;
  color: red;
}